@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="button_purple">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>

    body {
        background: black;
        color: white;
        overflow: hidden;
    }

    .login-form {
        width: 340px;
        margin: 100px auto;
        font-size: 15px;
    }


        .login-form form {
            margin-bottom: 15px;
            background: #ffffff;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

    .form-control, .btn {
        min-height: 45px;
        border-radius: 20px;
    }

    .form-label {
        color: black !important;
        font-size: 20px;
    }

        .form-label:last-child {
            color: white !important;
        }

    .btn {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .login-form .title {
        font-size: 30px;
        font-weight: 700;
        font-family: verdana;
    }


    .button_purple {
        background-color: #8e2de2;
        border: none;
        padding: 13px 38px;
        border-radius: 8px;
        max-height: 50px;
        color: white !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s ease 0s;
    }


        .button_purple:hover {
            background-color: rgba(203, 195, 227, 2);
            color: black !important;
        }
</style>
