@page "/calendar"
@using BT.TodoListApplication.BL;
@using System.Security.Claims;
@using BT.TodoListApplication.BL.Models;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@attribute [Authorize]
<html>
    <body>
        <div id="calendar_button_group">
            <button id="button_purple" @onclick="() => { monthsAway--; CreateMonth(); }">Previous Month</button>
            <h1>@MonthName</h1>
            <button id="button_purple" @onclick="() => { monthsAway++; CreateMonth(); }">Next Month</button>
        </div>
        <section>
                @for (int dummyCol = 0; dummyCol <= numberOfDummyColumn; dummyCol++)
                {
                    <div></div>
                }
                @for (int day = 1; day <= monthEnd.Day; day++)
                {
                    <div style="position: relative;">
                        @if (currentDay != day) {
                        @foreach(TodoItem item in TodoList)
                        {
                            @if(item.ItemTime.Day == day)
                            {
                                <p>@item.ItemName</p>
                            }
                    }
                    <div id="calendar_day">@day</div>
                        } else {
                            <div id="calendar_day_currentday">@day</div>
                        }
                    </div>
                }
        </section>
    </body>
</html>

@code {
    public ClaimsPrincipal User => HttpContextAccessor.HttpContext?.User;
    public string Id => User?.FindFirstValue(ClaimTypes.NameIdentifier);
    string MonthName = "";
    DateTime monthEnd;
    int numberOfDummyColumn = 0;
    int monthsAway = 0;
    private List<TodoItem> TodoList = new List<TodoItem>();
    int currentDay = DateTime.Now.Day;
    protected override void OnInitialized()
    {
        TodoList = TodoManager.getItemsByUserId(Id);
        CreateMonth();
    }

    void CreateMonth()
    {
        int year = DateTime.Now.Year;
        int month = DateTime.Now.Month + monthsAway;
        var tempDate = DateTime.Now.AddMonths(monthsAway);
        month = tempDate.Month;
        year = tempDate.Year;
        DateTime monthStart = new DateTime(year, month, 1); //2023 June 1
        monthEnd = monthStart.AddMonths(1).AddDays(-1); // Add a whole month but subtract one which gives the end of the month
        MonthName = monthStart.Month switch
        {
            1 => "January",
            2 => "February",
            3 => "March",
            4 => "April",
            5 => "May",
            6 => "June",
            7 => "July",
            8 => "August",
            9 => "September",
            10 => "October",
            11 => "November",
            12 => "December",
            _ => "" // Default case
        };

        numberOfDummyColumn = (int)monthStart.DayOfWeek; // If it is tueday, give us 2
    }
}
