@page "/"
<head>
    <link rel="stylesheet" href="./css/pages/homepage.css">
</head>
<h1 id="homepage_heading_purple">Welcome</h1>
<h3 id="homepage_heading_three">
    Our mission is to empower individuals in effectively managing their tasks and achieving their
    goals by providing a user-friendly and intuitive todo list application that
    enhances productivity, promotes organization, and fosters a sense of accomplishment.</h3>

<p id="homepage_paragraph">This is page is still underworks, let's see where my imagination takes me.</p>


@code {
    
}
